<html>
<head>
<meta charset="uft8">
<link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="l-wrapper">
  <header class="l-header">
  </header>
  <main>
  </main>
  <footer>
  </footer>
</div>
</body>
</html>