@charset "utf-8";

html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.2rem;
    font-family: '.SF NS Text', 'YuGothic','Yu Gothic','Montserrat', 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul {
    list-style-type: none;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    transition: 0.5s;
    color: #333;
}

/* Component */
.textl {
    font-size: 2.7rem;
    letter-spacing: .1rem;
}

.textm {
    font-size: 1.6rem;
    letter-spacing: .1rem;
}

.texts {
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.textxs {
    font-size: .7rem;
    letter-spacing: .1rem;
}